/* Global variables */
:root {
    --primary-green: #2e4f38;
    --text-color: #333333;
    --navbar-bg: #ffffff;
    --page-bg: #f8f9f8;
}
/* Global styles */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: var(--page-bg);
    color: var(--text-color)
}
/* Navbar Styles */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-green)
}
.logo-highlight {
    color: var(--primary-green);
}
/* .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s ease;
} */
.get-started-btn {
    background-color: var(--primary-green);
    color: white;
    padding: 10px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.get-started-btn:hover {
    background-color: #24402d;
}

/* base styles */
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #eee;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: sticky;
    background: #eee;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    /* color: #444; */
    /* position: ;
    */top: 0; 
    
}
header span{
    font-size: 2rem;
    font-weight: 600;
    font-style: oblique;
}
.static ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.static ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
    display: inline-block;
    
}
.static li a{
    padding: 0 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s ease;
}
.coslider, .slided{
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 2;
}
 .hori{
    display: block;
    width: 30px;
    height: 2px;
    background: #222;
    margin: 5px 0;
    transition: all ease-in-out 0.3s;
}
.slide li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}
.slide li{
    display: block;
    width: 100%;
    height: 20px;
    padding: 10px ;
}
.slide li a{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 0px;
}
.slide{
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    width: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 50px 0;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    transition: all ease-in-out 0.3s;
}
.slide .slided{
    position: absolute;
    top: 10px;
    right: 15px;
}
.slide .get-started-btn{
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    /* align-self: center; */
}
/* hover states */
 li:hover{
    background: var(--primary-green);  
}
.slide li:hover{
    background: #567961;
}
li:hover a{
    color: #fff;
}
/* active states */
.slide.active{
    width: 50vw;
}
.coslider.active .hori:first-child{
    transform: rotate(45deg) translateY(10px);

}   
.coslider.active .hori:nth-child(2){
    opacity: 0;
}
.coslider.active .hori:nth-child(3){
    transform: rotate(-45deg) translateY(-10px) ;
}
.slided.active .hori:first-child{
    transform: rotate(45deg) translateY(10px);

}   
.slided.active .hori:nth-child(2){
    opacity: 0;
}
.slided.active .hori:nth-child(3){
    transform: rotate(-45deg) translateY(-10px) ;
}
/* media queries */
@media (max-width:900px) {
    /* header{
        position: relative;
    } */
    .static ul{
        display: none;
    }
    .static li{
        display: none;
    }
    .static ul li{
        display: none;
    }
    .static li a{
        display: none;
    }
    .hideOnMobile{
        display: none;
    }
    .coslider {
        display: block;
    }
   .slided{
    display: block;
   }
}

